.container {
    color: #212529;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding-top: 50px;
}

.login {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 15px 20px;
}

.login__logo {
    color: #212529;
    font-family: Georgia, 'Times New Roman', Times, serif!important;
    font-size: 30px;
    letter-spacing: -0.4px;
    margin-bottom: 15px;
    text-align: center;
}

.form__link {
    color: #007bff;
    font-weight: bold;
    text-decoration: underline;
}

.register {
    border: 1px solid #ced4da;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 20px;
}

.register__text {
    font-size: 16px;
    font-weight: bold;
}

@media (min-width: 600px) {
    .content-login {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 580px;
    }

    .alert__login {
        width: 580px;
    }
}