.table {
  border-collapse: collapse;
}

.table__header {
  display: none;
}

.table__data-header {
  border-bottom: 1px solid #ccc;
  display: none;
  padding: 10px;
  text-align: center;
}

.table__data {
  display: flex;
  padding: 10px;
  padding-left: 25%;
}

.table__img {
  width: 60px;
  height: 80px;
}

.table__data:nth-child(even) {
  background-color: #f1f1f1;
}

.table__data:before {
  content: attr(data-th);
  font-weight: bold;
  left: 0.5em;
  margin-right: 20px;
  position: absolute;
}

.table__row {
  display: block;
  margin-bottom: 30px;
  position: relative;
}

@media (min-width: 780px) {
  .table {
    margin-bottom: 20px;
  }

  .table__data {
    background-color: transparent!important;
    display: table-cell;
    padding-left: 0;
    text-align: center;
  }

  .table__data:before {
    display: none;
  }

  .table__data-header {
    display: table-cell;
  }

  .table__header {
    display: table-header-group;
  }

  .table__row {
    display: table-row;
    margin-bottom: 0;
    position: static;
  }

  .table__row:nth-child(even) {
    background-color: #f1f1f1;
  }

  .table__row--selected {
    background-color: #ddd;
  }

  .toolbar {
    width: 600px;
  }

  .alert {
    width: 780px;
  }

  .button--small {
    flex-grow: 1;
  }
}